extends layout

block content
  div(class="container")
    h1(class="main-title")= title
    p(class='welcome') Welcome to #{title}
    a(href='/create' class="btn btn-primary") Create
  br
  div(class="container")
    p(class="read") See latest blogs!!
    each b in blog
      div(class="card blogcontainer")
        img(src=`/images/${b.banner}`)
        a(href=`viewpost/${b._id}` id='unique' class="all-header") #{b.title}
        h4 #{b.gist}
        p(style="color:gray") Created by #{b.name}
        br
